
body {
	background-color: #606060;
}

a {
	color: white;
	font-size: 50px;
	font-family: Arial;
	
}
#block {
	line-height:500px;
	text-align:center;
	width: 90%;
	height: 500px;
	background: #464242;
}

#scriptBlocks {
	line-height:500px;
	text-align:center;
	width: 90%;
	height: 500px;
	background: #0C1D89;
}

#programBlocks {
	line-height:500px;
	text-align:center;
	width: 90%;
	height: 500px;
	background: #AB21C0;
}